#title {
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  color: #374941;
}

body {
  background-color: #E0EBE6;
  font-family: 'Raleway', sans-serif;
}